{% extends 'djdjango/base.html' %}
{% block content %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                    <h2>{{ album.record_company }}</h2>
                </div>
            </div>


        </div>


         <div class="col-sm-8 col-md-9">

           <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Album Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>YouTube Link</th>
                            <th>Track Duration</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title}}</td>
                                <td>
                                    <a target="_blank" href="{{ song.song_link }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    {{ song.total_duration }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

         </div></div>


    <div class="container-fluid">
  <div class="row">
     <div class="col-md-4">

           <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Artist Info</h3>
                    {% for artist in album.artist_set.all %}
                    <p>{{ artist.profile }}</p>
                    {% endfor %}
                </div>
           </div>
           </div>
             <div class="col-md-8">

           <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Album Info</h3>
                    <p>{{ album.profile }}</p>
                </div>
           </div>
           </div>
  </div>
</div>

{% endblock %}