{% extends 'djdjango/base.html' %}

{% block content %}
<div class="container-fluid songs-container">
    <div class="row">
        {% for album in punk %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="{{ album.album_logo }}" class="img-responsive" style="width:200px;height:200px;">
                    <div class="caption">
                        <h2>{{ album.album_title }}</h2>
                        <h2>{{ album.artist }}</h2>
                        <div class="text-right">
                            <a href="{% url 'detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
