{% extends 'djdjango/base.html' %}

{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
        <a href="{% url 'A_search' %}" class="btn btn-default">A</a>
        <a href="{% url 'B_search' %}" class="btn btn-default">B</a>
        <a href="{% url 'C_search' %}" class="btn btn-default">C</a>
        <a href="{% url 'D_search' %}" class="btn btn-default">D</a>
        <a href="{% url 'E_search' %}" class="btn btn-default">E</a>
        <a href="{% url 'F_search' %}" class="btn btn-default">F</a>
        <a href="{% url 'G_search' %}" class="btn btn-default">G</a>
        <a href="{% url 'H_search' %}" class="btn btn-default">H</a>
        <a href="{% url 'I_search' %}" class="btn btn-default">I</a>
        <a href="{% url 'J_search' %}" class="btn btn-default">J</a>
        <a href="{% url 'K_search' %}" class="btn btn-default">K</a>
        <a href="{% url 'L_search' %}" class="btn btn-default">L</a>
        <a href="{% url 'M_search' %}" class="btn btn-default">M</a>
        <a href="{% url 'N_search' %}" class="btn btn-default">N</a>
        <a href="{% url 'O_search' %}" class="btn btn-default">O</a>
        <a href="{% url 'P_search' %}" class="btn btn-default">P</a>
        <a href="{% url 'Q_search' %}" class="btn btn-default">Q</a>
        <a href="{% url 'R_search' %}" class="btn btn-default">R</a>
        <a href="{% url 'S_search' %}" class="btn btn-default">S</a>
        <a href="{% url 'T_search' %}" class="btn btn-default">T</a>
        <a href="{% url 'U_search' %}" class="btn btn-default">U</a>
        <a href="{% url 'V_search' %}" class="btn btn-default">V</a>
        <a href="{% url 'W_search' %}" class="btn btn-default">W</a>
        <a href="{% url 'X_search' %}" class="btn btn-default">X</a>
        <a href="{% url 'Y_search' %}" class="btn btn-default">Y</a>
        <a href="{% url 'Z_search' %}" class="btn btn-default">Z</a>
    </div>
  </div>
</div>

<br />
<br />

<div class="container-fluid songs-container">
        <div class="row">


                {% for album in T_search %}
                    <div class="col-md-4">

                        <div class="thumbnail">

                            <img src="{{ album.album_logo }}" class="img-responsive" style="width:200px;height:200px;">
                                <div class="caption">
                                        <h2>{{ album.album_title }}</h2>
                                        <h2>{{ album.artist }}</h2>
                                        <div class="text-right">
                                           <a href="{% url 'detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
